<div class="mr-5 ml-5 lg:mr-52 lg:ml-52 mt-5 grid grid-cols-2 sm:grid-cols-4 gap-4">
  <div class="relative cursor-pointer"
    [routerLink]="'/gallery/' + category.id"
    *ngFor="let category of categories$ | async">
    <img class="rounded-xl hover:filter-none sm:blur-xs" [src]="category.backgroundImageURL" />
    <div class="absolute bottom-0 left-0 right-0 px-4 py-2 bg-gray-800/50 rounded-b-xl -m-px pointer-events-none">
      <h2 class="text-white text-xl">
        {{ category.name }}
      </h2>
    </div>
  </div>
</div>
