<div class="mr-8 ml-8 md:mr-0 md:ml-0 md:mt-5 grid place-content-center">
  <img class="rounded-xl max-h-[55vh]" src="../../../assets/images/self_photo_lake.jpg" />
  <h6 class="text-white mt-4">That's me!</h6>
</div>

<div class="mr-8 ml-8 flex justify-center">
  <div class="flex w-[50vw]">
    <div>
      <h4 class="text-white">
        I'm an amateur photographer just trying to shoot what I see. For the most part, that'll be landscapes,
        night shots, and buildings. Maybe the occasional animal if we're lucky enough to see one while
        out.
      </h4>
    </div>
    <div>
      <h4 class="text-white">
        What I use: Canon T5i with a Tokina 11-20mm most of the time.
      </h4>
      <h4 class="text-white">
        <i class="fa fa-map-marker"></i>
        Ottawa, Canada
      </h4>
    </div>
  </div>
</div>