<div class="mr-8 ml-8 md:mr-0 md:ml-0 md:mt-5 grid place-content-center">
  <img class="max-h-[55vh]" src="../../../assets/static-images/self_photo_lake.jpg" />
  <h6 class="mt-4">That's me!</h6>
</div>

<div class="md:flex md:justify-center text-white">
  <div class="md:flex md:w-[50vw] bg-ocean p-4 gap-4">
    <div class="main">
      <h4>
        I'm an amateur photographer just trying to shoot what I see. For the most part, that'll be landscapes,
        night shots, and buildings. Maybe the occasional animal if we're lucky enough to see one while
        out.
        <br />
        <br />
        Most of my photos are from a Tokina 11-20mm, with a few photos from Canon's 55-250mm and 100-400mm lenses.
      </h4>
    </div>
    <div class="whitespace-nowrap mt-5 md:mt-0">
      <h4>
        <i class="text-red-500 fa fa-map-marker w-[24px] text-center"></i>
        Ottawa, Canada
      </h4>
      <a href="https://www.instagram.com/cam.erwin/" target="_blank">
        <img class="inline icon-image" src="../../../assets/icons/instagram.png" />
        Instagram
      </a>
    </div>
  </div>
</div>