<div class="sidenav-container-parent" *ngIf="isMobile$ | async as isMobile">
  <mat-toolbar class="bg-ocean"
    [class.sidenav-toolbar]="isMobile.matches"
    *ngIf="isMobile.matches">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon class="text-white">menu</mat-icon>
    </button>
    <h1 class="text-2xl ml-8 text-light-fauna">Cameron Erwin</h1>
  </mat-toolbar>

  <mat-sidenav-container [class.mobile-sidenav]="isMobile.matches">
    <mat-sidenav class="bg-ocean shadow-md"
      [mode]="isMobile.matches ? 'over' : 'side'"
      #snav
      [opened]="!isMobile.matches"
      [fixedInViewport]="isMobile.matches"
      fixedTopGap="56">
      <app-side-menu [isMobile]="isMobile.matches"></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content class="bg-canvas px-8 md:px-16">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
